<div id="<%= dom_id employee %>">
  <% if employee.profile_picture.present? %>
    <%= image_tag employee.profile_picture %>  
  <%end%>

  <p>  
  <strong>Full name:</strong>
  <%= employee.full_name %>
  </p>

</div>
